.app_container{
  display: flex;

}
.app_container .app_main_container{
  display: flex;flex-direction: column;
  width: 100%;
}


.app_container .store_app{
  width: 29%;
  height: 100vh;
  /* border: 2px solid black; */
}
/* sidebar */
.sidebar{
  /* width: 40%; */
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9px;
}
.navgat{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}